.calc {
    display: grid;
}

.calc-top-page {
    margin-top: -12%;
    align-items: center;
    display: inline-flex;
    direction: rtl;
    margin-bottom: 3%;
    margin-right: 2%;
}

span.ant-avatar.ant-avatar-circle.ant-avatar-image.title-logo {
    width: 5vh;
    height: 5vh;
}

.calc-top-page >.divider {
    height: 4vh;
    width: 1vh;
    margin: 0 1vh;
}

h2.calc-subtitle {
    margin: 0;
}

.calc-cards {
    display: inline-flex;
    direction: rtl;
    text-align: right;
    justify-content: center;
}

.calc-cards > .ant-card.ant-card-bordered {
    margin: -3vh 3vh;
}

.calc-cards > .ant-card-bordered {
    border: 0.4vh solid #ea2a44;
    height: 25vh;
    width: 40vh;
}

.nutrition {
    display: flex;
    justify-content: center;
}

.calc-button {
    border-color: #ea2a44;
    float: left;
    margin-top: 1vh;
}
