span.ant-avatar.ant-avatar-circle.ant-avatar-image.training-logo {
    margin: 0 15vh 2vh 15vh;
    height: 10vh;
    width: 10vh;
}

.training-section {
    text-align: -webkit-center;
}

.divider {
    height: 1.5vh;
    width: 6vh;
    background-color: #ea2a44;
}

.training-section > h2 {
    color: #575758;
    margin: 1vh;
}

.training {
    display: flex;
    justify-content: center;
}

.schedule-page {
    display: grid;
}

.schedule-top-page {
    margin-top: -12%;
    align-items: center;
    display: inline-flex;
    direction: rtl;
    margin-bottom: 3%;
    margin-right: 2%;
}

span.ant-avatar.ant-avatar-circle.ant-avatar-image.title-logo {
    width: 5vh;
    height: 5vh;
}

.schedule-top-page >.divider {
    height: 4vh;
    width: 1vh;
    margin: 0 1vh;
}

h2.schedule-subtitle {
    margin: 0;
}

.schedule-table {
    direction: rtl;
    width: 150vh;
    justify-self: center;
    text-align-last: center;
}