.schedule-page {
    display: grid;
}

.schedule-top-page {
    margin-top: -12%;
    align-items: center;
    display: inline-flex;
    direction: rtl;
    margin-bottom: 3%;
    margin-right: 2%;
}

span.ant-avatar.ant-avatar-circle.ant-avatar-image.title-logo {
    width: 5vh;
    height: 5vh;
}

.schedule-top-page >.divider {
    height: 4vh;
    width: 1vh;
    margin: 0 1vh;
}

h2.schedule-subtitle {
    margin: 0;
}

.schedule-table {
    direction: rtl;
    width: 150vh;
    justify-self: center;
    text-align-last: center;
    margin-top: -3%;
}

th.ant-table-cell {
    background-color: #ea2a44 !important;
    color: white !important;
    font-size: 1.8vh;
}

tbody.ant-table-tbody {
    background-color: #dcdce5;
    color: #7e7575;
}

ul.ant-pagination.ant-table-pagination.ant-table-pagination-right {
    display: none;
}

.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
    background: unset;
  }

button.ant-btn.ant-btn-default.lesson {
    background-color: inherit;
    color: currentcolor;
}

button.ant-btn.ant-btn-default.lesson:hover {
    border-color: #ea2a44 !important;
}

.schedule-bottom-page {
    display: grid;
    justify-items: center;
}

.select-lesson-button, .done-select-lesson-button {
    border-color: #ea2a44;
    margin-left: 1vh;
}

.done-select-lesson-button:hover, .select-lesson-button:hover {
    border-color: #ea2a44 !important;
    color: #ea2a44 !important;
}

.bottom-button {
    display: inline-flex;
    margin-left: 25vh;
    margin-top: 2vh;
    direction: rtl;
    justify-self: left;
}